:root {
    /*COLORS*/
    --main-bg-color: #333333;
    --main-txt-color: #ffffff;
    --main-padding: 3px;

    --secondary-bg-color: #eeeeee;
    --secondary-txt-color: #333333;

    /*BUTTONS*/
    --button-bg-color: var(--secondary-bg-color);
    --button-hover-bg-color: var(--main-bg-color);
    --button-txt-color: var(--secondary-txt-color);
    --button-hover-txt-color: var(--main-txt-color);
}

@font-face {
    font-family: OpenSans;
    src: url('font/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OpenSans;
    src: url('font/OpenSans/OpenSans-Bold.ttf');
    font-weight: bold;
}

* {
    font-family: OpenSans;
    user-select: none;
}

table {
    width: 100%;
}

.header {
    background-color: var(--main-bg-color);
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 0 8px 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.half-page {
    float: left;
    width: 50vw;
    min-width: calc(25vw);
}

.first-half-page {
    float: left;
    width: 55vw;
    min-width: calc(25vw);
}

.second-half-page {
    float: left;
    width: 40vw;
    min-width: calc(25vw);
}

.header .header-title {
    text-align: center;
    color: var(--main-txt-color);
    font-size: 22px;
    font-weight: bold;
}

.header .option-menu {
    color: var(--main-txt-color);
    font-size: 14px;
    padding-top: var(--main-padding);
}

.header .option-menu table {
    padding-right: 20px;
    padding-left: 20px;
}

.header .option-menu .option-menu-title {
    text-align: center;
    font-weight: bold;    
}

.header .option-menu .option-menu-option {
    text-align: center;
    padding: 1px 1px 1px 1px;
    background-color: var(--button-bg-color);
    color: var(--button-txt-color);
    border: 2px solid var(--button-bg-color);
    transition: 0.3s;
}

.header .option-menu .option-menu-option-selected {
    text-align: center;
    padding: 1px 1px 1px 1px;
    border: 2px solid var(--button-bg-color);
    transition: 0.3s;
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-txt-color);
}

.header .option-menu .option-menu-option:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-txt-color);
    cursor: pointer;
}

.content {
    position: fixed;
    background-color: var(--secondary-bg-color);
    width: 100%;
    height: 100%;
    left: 0;
    overflow-y: scroll;
}

.content .content-title {
    text-align: center;
    color: var(--second-txt-color);
    font-size: 18px;
    font-weight: bold;
}

.sticky + .content {
    padding-top: 80px;
}

/* USA MAP */
.state{
    fill: none;
    stroke: var(--main-bg-color);
    stroke-width: 1;
}

.state:hover{
    fill-opacity:0.5;
    cursor: pointer;
}

#tooltip{
    position: absolute;           
    text-align: center;            
    margin: 10px;
    border: 1px;      
    border-radius: 2px;           
    pointer-events: none; 
    background:rgba(0,0,0,0.9);
    border: 1px solid var(--secondary-bg-color);
    border-radius:5px;
    font: 12px OpenSans;
    width: 150px;
    padding: 4px;
    color: var(--main-txt-color);
    opacity:0;
    z-index: 10000;
}

#tooltip h4{
    margin:0;
    font-size: 14px;
}

#tooltip table{
    table-layout: fixed;
}

#tooltip tr td{
    padding:0;
    margin:0;
}

#tooltip tr td:nth-child(1){
    width:50px;
}

#tooltip tr td:nth-child(2){
    text-align:center;
}

/* BAR CHART */
#stacked-chart {
    position: relative;
    margin-top: -25px;
}

#stacked-chart .legend {
    position: absolute;
    /* bottom: auto; */
    bottom: -80px;
    left: auto;
    right: 10px;
    width: 360px;
    height: 120px;
}

@media (max-width: 567px) {
    #stacked-chart .legend {
        visibility: hidden;
    }
}

.chart-label {
    display: none;
}

.legend text {
    font-size: 9pt;
}

.tick text {
    z-index: 1000;
}

.chart {
    margin: 0 0;
    width: 100%;
    /* height: 250px; */
}

.chart svg {
    overflow: visible !important;
}
  
.chart.large {
    height: 240px;
}

.y-axis-label {
    white-space: nowrap;
}

.x-axis {
    visibility: hidden;
}

.y-axis .domain {
    visibility: hidden;
}

/*DONUT CHART*/

/*Styling for the lines connecting the labels to the slices*/
polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

/* Make the percentage on the text labels bold*/
.labelName tspan {
    font-style: normal;
    font-weight: 700;
}

/* In biology we generally italicise species names. */
.labelName {
    font-size: 0.9em;
    font-style: italic;
}